/* ubuntu-regular - latin_cyrillic */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/ubuntu-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/ubuntu-v20-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* ubuntu-700 - latin_cyrillic */
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/ubuntu-v20-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/ubuntu-v20-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }



body {
    background: #f5f5f5;
    color: #000000;
    font-family: "Ubuntu";
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
header {
    background: #FFB44E;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
}
.logo {
    width: 81px;
    height: 78px;
    padding-left: 41px;
}
h1 {
    padding-left: 72.2px;

    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: #FFFFFF;
}
nav {
    background:  #C2CEFC;
    width: 100%;
    height: 54px;
    display: flex;
}
.nav {
    display: inline-block;
    margin-right: 124px;
    margin-top: -3px;

    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
section {
    display: flex;
}
aside {
    background: #E9E7E7;
    width: 440px;
    height: 815px;
}
.aside__block {
    padding-left: 44.44px;
    padding-top: 30px;
    width: 342px;
    height: 228px;
}
h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.aside__text{
    width: 341.84px;
    height: 140px;
    padding-top: 14px;
    padding-left: 20px;
    padding-right: 10px;

    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
    background: #D9D9D9;
}
#content {
    margin-top: 36px;
    margin-left: 87px;
    width: 1156px;
    height: 700px;
}
.main__img {
    width: 1149.72px;
    height: 558.98px;
}
.main__text {
    margin-top: 18px;
    width: 1156.56px;
    height: 88.59px;

    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.sub__main__text {
    margin-top: 18px;
    width: 101.41px;
    height: 14.77px;

    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
}
footer {
    background: #28376E;
    height: 131px;
    width: 100%;
    display: flex;
}
.footer__text {
    width: 1224.93px;
    height: 37.97px;
    margin-top: 20px;
    margin-left: 52.86px;

    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.footer__logo {
    width: 47.86px;
    height: 44.3px;
    margin-top: 40px;
    margin-left: 520.36px;
}